<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
  <a class="navbar-brand" href="{{ site.baseurl }}/">
    <div class="svg-wrapper">
      <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
        <rect class="shape" height="60" width="320" />
      </svg>
      <div class="text">ALGOVIS</div>
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/algorithms">Algorithms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/cheatsheets">Cheatsheets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{{ site.baseurl }}/datasets">Datasets<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{{ site.baseurl }}/about">About</a>
      </li>
    </ul>

    <div> <span style="color: wheat;">Theme</span>&nbsp;
      <label class="switch">
        <input id="invert" onclick="" type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>

  </div>
</nav>